* {
    margin: 0%;
    padding: 0%;
}

a {
    color: #2e269c;
    text-decoration: none;
}

a:hover {
    color: #2e269c;
    text-decoration: none;
}

/* Sections General */
section {
    padding: 0 0 80px 0;
}

.section-bg {
    background-color: white;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    font-family: "Poppins", sans-serif;
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #2e269c;
    bottom: 0;
    left: calc(50% - 25px);
}

.section-title p {
    margin-bottom: 0;
}

/* Navbar */

/* Logo navbar */

.logo {
    background-color: blue;
    color: white !important;
    letter-spacing: -0.1px;
    line-height: 15px;
    padding-left: 0.5%;
    padding-right: 0.4%;
    padding-bottom: 0.6%;
}

/* Video header */

header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

/* End video header */

/* Featured */

.featured {
    position: relative;
    z-index: 2;
    transform: translateY(-100px);
}

.featured .icon-box {
    padding: 40px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background: rgb(53, 53, 53);
    transition: all ease-in-out 0.3s;
    height: 100%;
}

.featured .icon-box i {
    color: #2e269c;
    font-size: 42px;
    margin-bottom: 15px;
    display: block;
    line-height: 0;
}

.featured .icon-box h3 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 20px;
}

.featured .icon-box h3 a {
    color: #545454;
    transition: 0.3s;
}

.featured .icon-box p {
    color: #545454;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.featured .icon-box:hover {
    background: #2e269c;
}

.featured .icon-box:hover i, .featured .icon-box:hover h3 a, .featured .icon-box:hover p {
    color: #fff;
}

/* End featured */

/* Counts */

.counts .count-box {
    box-shadow: -10px -5px 40px 0 rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
}

.counts .count-box i {
    display: block;
    font-size: 30px;
    color: #2e269c;
    float: left;
    line-height: 0;
}

.counts .count-box span {
    font-size: 42px;
    line-height: 24px;
    display: block;
    font-weight: 700;
    color: #545454;
    margin-left: 50px;
}

.counts .count-box p {
    padding: 30px 0 0 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
}

.counts .count-box a {
    font-weight: 600;
    display: block;
    margin-top: 20px;
    color: #7a7a7a;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    transition: ease-in-out 0.3s;
}

.counts .count-box a:hover {
    color: #a1a1a1;
}

/* End counts */

/* Clients */

.clients .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.clients .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #2e269c;
}

.clients .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #2e269c;
}

.clients .swiper-slide img {
    opacity: 0.5;
    transition: 0.3s;
    filter: grayscale(100);
}

.clients .swiper-slide img:hover {
    filter: none;
    opacity: 1;
}

/* End clients */

/* Meet us */

.nosotros-section {
    background: rgb(154,154,154);
    background: linear-gradient(0deg, rgba(154,154,154,1) 39%, rgba(187,187,187,1) 100%);
}

.nosotros {
    background-color: #8d8d8d;
    margin: 0.5%;
    margin-top: 2%;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
}

@media only screen and (min-width: 769px) {
    .nosotros {
    }
}

@media only screen and (max-width: 768px) {
    .nosotros {
        margin: auto;
        margin-top: 5%;
    }
}
.nosotros-img {
    margin-top: 5%;
    border-radius: 50%;
    width: 85%;
    margin-left: 11px;
}

.nosotros-nombre {
    margin-top: 2%;
    font-size: 18px;
}

.nosotros-cargo {
    font-size: 15px;
}

.nosotros-carrera {
    font-size: 13px;
}

.nosotros-legajo {
    font-size: 12px;
}

.nosotros-redes{
    padding-bottom: 8%;
}

.nosotros-redes a {
    color: #313131 !important;
    margin: 5%;
}

.nosotros-redes a:hover {
    color: #2e269c !important;
}

/* End meet us */

/*Footer */

.logo-img {
    width: 300px;
    margin-left: 20%;
}

@media only screen and (max-width: 768px){
    .logo-img {
        margin-left: 11%;
    }
}

#footer {
    background: #000000;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
}


#footer .footer-top {
    background: #000000;
    border-top: 1px solid #474747;
    border-bottom: 1px solid #474747;
    padding: 60px 0 5px 0;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #545454;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #2e269c;
    color: #fff;
    text-decoration: none;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #2e269c;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    color: #2e269c;
}

@media only screen and (max-width: 768px){
    .footer-links {
    text-align: center;
    }

    .footer-links ul {
    margin-left: 20%;
    }
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}